@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

$font-primary:'Carrois Gothic SC',
sans-serif;
$color-white: #ffffff;
$color-black: #2e2e2e;

$primary-color: #2b0c75;
$color-secondary: #404a6b;