@use "../../styles/variables"as *;

.nav {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid $primary-color;
    padding-bottom: 10px;

    &__item {
        font-family: $font-primary;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.6rem;
        margin: 10px 0;
        color: $color-black;
    }
}